*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: Roboto ,sans-serif;
    color: #fff;
    /* position: relative; */
}
li{
    list-style-type:none ;
}
a {
    text-decoration: none;
}
button{
    border: none;
    background: transparent;
    cursor: pointer;
}
.login-modal{
    background-color: rgba(7, 0, 0, 0.335);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items:  center;
}
.close-btn{
    top: 20px;
    position: absolute;
    right: 20px;
    stroke:#F47322;
}
.login-modal__form{
    background-color:#fff;
    width: 340px;
    height: 340px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;
    */padding: 35px; 
    border-radius: 20px    ;
    -webkit-border-radius: 20px    ;
    -moz-border-radius: 20px    ;
    -ms-border-radius: 20px    ;
    -o-border-radius: 20px    ;
    position: relative;
}
.auth-input{
    background: rgba(238, 238, 238, 0.71);
    border: none;
    outline: none;
    height: 49px;
    font-size: 15px;
    margin-bottom: 35px;
    border-radius: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.login-modal__title,.input-title{
    font-weight: 500;
    font-size: 32px;
    color: #000;
    text-align: center;
}
.login-modal__title{
    margin-bottom: 20px;
}
.fixed-container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1194px;
}
.header{
    padding-top: 12px;
}
/* .header-container{
     max-width: 100%;
} */
.header-logo{
    display: flex;
    align-items: center;
}
.header-logo__title{
    max-width: 60%;
    margin-left: 10px;
    font-weight: 900;
    font-size: 16px;
    color: #000;
}
.header__search-form{
    position: relative;
    /* margin-left: 76px; */
    min-width: 52% ;
}
.header__search-input{
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    max-width: 620px;
    width: 100%;
    height: 49px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 20px;
    padding-right: 40px;
    border:none;
    outline: none;
}
.header__search-btn{
    position: absolute;
    right: 15px;
    top: 14px;
}
.header-profile__cart-link{
    position: relative;
    /* width: 17%; */
}
.header-profile{
       /* margin-left: 18%; */
       width: 178px;
       display: flex;
       /* justify-content: space-evenly; */
       align-items: center;
       margin-left: 13%;
    }
.header-profile__sing-in{
    background-color: #EBEBEB;
    border-radius: 50px;
    padding: 15px 29px;
    margin-right: 35px;
    font-size: 14px;
}

.header-profile__cart-counter{
    position: absolute;
    bottom: 5px;
    right: 0px;
    font-size: 8px;
    padding: 3px;
    background-color: #FFAF19;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.hero-section-slider__slide{
    position: relative;
    overflow: hidden;
    min-width: 100%;
    min-height: 399px;
    border-radius: 20px;
}
.slide-content{
    position: relative;
}
.hero-section-slider {
    position: relative;
}

.hero-section-slider__slide::after,.promo::after {
    content: "";
    position:absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
}
.slide-content__img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slide-content__title{
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
    padding-bottom: 15.16px;
}
.slide-content__btn,.login-modal__login-btn{
    background: #F47322;
    border-radius: 25px;
    padding: 15px 54px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}
.slide-content__btn,.header-profile__sing-in,.header-profile__cart-link,.promo__confirm-btn,.header__search-btn,
.header__search-btn,.theme-link,.login-modal__login-btn,.close-btn{
    transition: 0.3s ease-in ;
    transition-property: opacity;
    -webkit-transition: 0.3s ease-in ;
    -moz-transition: 0.3s ease-in ;
    -ms-transition: 0.3s ease-in ;
    -o-transition: 0.3s ease-in ;
    opacity: 1;
}

.slide-content__btn:hover,.header-profile__sing-in:hover,.header-profile__cart-link:hover,.promo__confirm-btn:hover,
.header__search-btn:hover,.header__search-btn:hover,.theme-link:hover,.login-modal__login-btn:hover,.close-btn:hover {
    opacity: 0.5;
}


.slide-content__description{
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    max-width: 90%;
    padding-bottom: 50px;
}
.slide-content-text{
    max-width: 48%;
    padding-left: 8.5%;
    padding-top: 76px;
}
.hero-section{
    padding-top: 16px;
    padding-bottom: 112px;
}
.slide-button-next,.slide-button-prev{
    width: 40px;
    height: 40px;
    z-index: 9px;
}

.slider-btns{
    position: absolute;
    z-index: 222;
    right: 51px;
    bottom: 39px;
    width: 94px;
    display: flex;
    justify-content: space-between;
    }
.promo{
    position: relative;
    /* background-color:tomato; */
    /* max-width: 570px;    */
    min-width: 47.9%;
    min-height: 380px;
    border-radius: 20px;
     flex:50%;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    border-radius: 20px;
    overflow: hidden;
}
.promo__title{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 21px;
}
.promo__discription{
    max-width: 38%;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}
.promo__top,.promo__bottom{
    min-height: 50%;
    padding: 36px 30px 30px 30px;
}
.promo__bottom{
    display: flex;
    flex-direction: column;
    padding-top: 13px;
}
.promo__price{
    font-weight: 500;
    font-size: 28px;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 4px;
}
.promo__subtitle{
    margin-bottom: 28px;
}
.promo__confirm-btn{
    background: #FFFFFF;
    border-radius: 50px;
    flex-grow: 0;
    width: 232px;
    height: 49px;  
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #5F5F61;
}
.promo__img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.promo:not(:last-child){
    margin-right: 52px;
}
.section-title{
    flex-grow: 1;
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    color: #000;
    margin-bottom: 47px;
}
.theme-list{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}
.theme-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 18px;
}
.theme-list__item{
    max-width: 23%;
    overflow: hidden;
    height: 183px;
    margin-bottom: 29px;
    position: relative;
}
.theme-list__item:not(:nth-child(4n)){
    margin-right: 31.8px;
}

/* .theme-list__item:nth-child(2n+4){
    margin-bottom: 20px;
} */

.theme-tag{
    position: absolute;
    top: 0;
    /* z-index: 16; */
    left: 10.07px;
    top: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    border-radius: 30px;
    padding: 5px 10.07px;
    cursor: pointer;
    color: #FFFFFF;
}
.theme-link::before{ 
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.theme-tag_c1{
    background-color: #D0FD89;
    color: #49494F;
}.theme-tag_c2{
    background-color: #AEBC41;
    
}.theme-tag_c3{
    background-color: #B86B78;
}.theme-tag_c4{
    background-color: #D68334;
}.theme-tag_c5{
    background-color: #CD6255;
}.theme-tag_c6{
    background-color: #FFFDBF;
       color: #49494F;
}.theme-tag_c7{
    background-color: #D0FD89;
       color: #49494F;
}
.theme-tag_c8{
    background-color: #FEF7FE;
       color: #49494F;
}
.week-delivery{
    padding-bottom: 70px;
}
.food-categories{
    background-color: #F6F6F6;
    padding-top: 40px;
    padding-bottom: 61px;
}
.categories-list{
    display: flex;
    padding-bottom: 20px;
    padding-bottom: 55px;
    width: 100%;
    flex-wrap: wrap;
}
.categories-card{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    max-width: 272px;
    padding: 23px;
}
.categories-card:not(:last-child){
    margin-right: 35px;
}
.categories-card__img{
    /* max-width: 100%; */
    max-height:37%;
    border-radius: 20px;
}
.food-categories-tab-container,.food-categories-container{
    flex-wrap: wrap;
}
.tab-btn-list{
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}
.tab-btn-list__item:not(:last-child){
    margin-right: 59px;
}

.tab-btn{
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
    transition: 0.3s ease-in ;
    transition-property: color;
}
.tab-btn.--active,.tab-btn:hover,.nav-list__link:hover{
    color: #F37321;
}
.categories-card__ltitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color:#000;
    margin-top: 35px;
    padding-bottom: 12px;
}
.categories-card__description{
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
    max-width: 98%;
}
.categories-card__bottom{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}
.categories-card__price{
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
    display: inline-flex;
    flex-direction: column;
}
.categories-card__weight{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}
.outline-btn{
       font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F37321;
    border: 2px solid #F37321;
    box-sizing: border-box;
    border-radius: 33px;
    transition: 0.3s ease-in ;
    transition-property: opacity,color,background-color,border;
}
.outline-btn:hover{
    background: #F47322;
    color: #fff;
}
.categories-card__btn{
    padding: 14px 24px;
}
.food-categories__load-more-btn {
    margin: 0 auto;
    color: #F37321;
    font-size: 16px;
    padding: 14px 105px;
}
.advantage-card{
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 31px 0;
    /* max-height: 477px; */
    max-width: 23%;
}
.advantages-section{
    padding-top:100px;
    padding-bottom: 194px;
    background-color: #fff;
}
.advantage-card__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #000;
    text-align: center;
    max-width: 69%;
    padding-top: 33px;
}
.advantage-card__description{
    font-size: 14px;
    line-height: 22px;
    color: #49494F;
    text-align: center;
    max-width: 82%;
    padding-top: 14px;
}
.advantages-container{

}
.advantages__list{
    display: flex;
    justify-content: space-between
}
.footer{
    background-color: #F6F6F6;
    padding-top: 40px;
    padding-bottom: 33px;
}
.foooter__logo-title{
    font-size: 23px;
    line-height: 28px;
    color: #000000;
}
.foooter__logo svg{
    vertical-align: middle;
}
.foooter__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 46.8%;
}
.footer-contener{
    align-items: center;
}
.social-list{
    display: flex;
    width: 10.2%;
    justify-content: space-between;
    padding-top: 13px;
}
.nav-list{
    display: flex;
    width: 302px;
    justify-content: space-between;
    padding-top: 6px;
}
.nav-list__item{
    margin-right: 20px;
}
.nav-list__link{
    font-size: 16px;
    line-height: 23px;
    text-decoration: underline;
    color: #000000;
    transition: 0.3s ease-in ;
    transition-property: color;
    -moz-text-decoration-line: underline;
}
.social-svg path  {
 fill: #000; transition: 0.3s ease-in ;
    transition-property: fill;
}
.social-svg circle{
    fill:#C4C4C4;
    transition: 0.3s ease-in ;
    transition-property: fill;
}
.social-link:hover > .social-svg path{
    fill: #fff;
}
.social-link:hover > .social-svg circle{
    fill: #f37321;;
}

.slide-button-prev circle ,.slide-button-next circle {
     fill: #ebebeb;
    transition: 0.3s ease-in ;
    transition-property: fill;
}
.slide-button-prev path ,.slide-button-next path {
     fill:#F66A15;
   transition: 0.3s ease-in ;
   transition-property: fill;
}
.slide-button-prev:hover circle ,.slide-button-next:hover circle {
    fill: #f37321;
}
.slide-button-prev:hover path ,.slide-button-next:hover path {
    fill: #fff;
}

@media(max-width:425px){
   
   }